
.Logout{
    position: absolute;
    width: 202px;
    height: 58px;
    left: 500px;
    top: 300px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    color: #1E1C1C;
}
.ViewStudents{
    position: absolute;
    width: 202px;
    height: 58px;
    left: 800px;
    top: 200px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    color: #1E1C1C;
}
.AddStudents{
    position: absolute;
    width: 202px;
    height: 58px;
    left: 500px;
    top: 200px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    color: #1E1C1C;
}


.myName{
    left: 200px;
    top: 100px;
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #1E1C1C;
    
}
.myEmail{
    left: 200px;
    top: 300px;
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #1E1C1C;
    
}
.AddTeachers{
    position: absolute;
    width: 202px;
    height: 58px;
    left: 600px;
    top: 400px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    color: #1E1C1C;
}

.name1{
    position: absolute;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 29px;
left: 300px;
top: 70px;
/* identical to box height */


color: #211C37;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.myHand {
    width: 40px;
    height:  40px;
    left: 900px;
    margin-left: 470px;
    margin-top: 2px;
}
.nameAdmin{
    position: absolute;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
left: 300px;
top: 40px;
/* identical to box height */


color: #211C37;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.all{
    position: absolute;
    left: 300px;
    top: 150px;
    width: 240px;
height: 177px;

background: rgb(93,126,72);
background: linear-gradient(90deg, rgba(93,126,72,1) 0%, rgba(2,31,3,1) 0%, rgba(101,198,131,1) 100%);
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.students{
    position: absolute;
    left: 600px;
    top: 150px;
    width: 240px;
height: 177px;
background: rgb(99,58,210);
background: linear-gradient(90deg, rgba(99,58,210,1) 0%, rgba(89,52,149,1) 0%, rgba(230,191,238,1) 100%);
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.teachers{
    position: absolute;
    left: 900px;
    top: 150px;
    width: 240px;
height: 177px;

background: rgb(99,58,210);
background: linear-gradient(90deg, rgba(99,58,210,1) 0%, rgba(117,149,52,1) 0%, rgba(199,238,191,1) 100%);
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.count1{
    position: absolute;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 29px;
    left: 340px;
    top: 200px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.count2{
    position: absolute;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    left: 320px;
    top: 270px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.userImage img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 440px;
    top: 170px;
    
}
.studentImage img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 730px;
    top: 170px;
    

}
.teacherImage img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1030px;
    top: 170px;
    

}
.count3{
    position: absolute;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 29px;
    left: 640px;
    top: 200px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.count4{
    position: absolute;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    left: 620px;
    top: 270px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.count5{
    position: absolute;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 29px;
    left: 940px;
    top: 200px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.count6{
    position: absolute;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    left: 920px;
    top: 270px;
    /* identical to box height */
    
    
    color: #ffffff;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}